<header class="page-header">
  <h1>Choose a character</h1>
</header>

<ul id="character-selections" class="nav nav-list"></ul>

<div class="btn-group">
  <button data-selection="character" name="enter-world" class="btn btn-primary disabled hidden">
    Enter world
  </button>
  <button data-selection="character" name="delete-character" class="btn btn-danger disabled hidden">
    Delete selected
  </button>
  <button name="create-character" class="btn">Create a character</button>
</div>
